body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.frame {
    /* width: 300px;
    height: 300px;
    background: pink;
    display: flex;
    align-items: center;
    justify-content: center; */
}
span {
    width: 50px;
    height: 50px;
    background: green;
    margin-left: 30px;
    
}
p {
    font-size: 50px;
   animation: rotate 3s linear infinite;
}

